[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
rich = "*"
pandas = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
matplotlib = "*"
python-dotenv = "*"
python-pptx = "*"
mkdocs = "*"
mkdocs-material = "*"

[dev-packages]

[requires]
python_version = "3.10"
